/* themes.css */

/* Light theme  for upload page*/
:root {
  --background-color: #f0f2f5;
  --text-color: black;
  --drop-text-color: black;
  --description-color: black;
  --title-color: #000000;
  --upload-button-bg: #3795bd;
  --upload-button-text: #ffffff;
  --upload-container-bg: #e8e8e8;
  --upload-border-color: #b2b2b2;
  --divider-color: #3795bd;
  --file-info-color: black;
  --file-container-background-color: white;
  --file-container-border-color: black;
  --spinner-color-darker: #4e31aa;
  --spinner-color-lighter: #4d31aa50;
  --history-background-color: #f7f7f8;
  --history-item-color: white;
  --list-item-border-color: black;
  --login-container-bg: #4f4753ba;
}

/* Dark theme */
[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
  --drop-text-color: white;
  --description-color: white;
  --title-color: #ffffff;
  --upload-button-bg: #4e31aa;
  --upload-button-text: #ffffff;
  --upload-container-bg: #1b1b1b;
  --upload-border-color: #b2b2b2;
  --divider-color: #4e31aa;
  --file-info-color: white;
  --file-container-background-color: black;
  --file-container-border-color: white;
  --spinner-color-darker: #3795bd;
  --spinner-color-lighter: #3795bd50;
  --history-background-color: black;
  --history-item-color: black;
  --list-item-border-color: white;
  --login-container-bg: #4f4753ba;
}
